* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-custom {
    background-color: rgb(231, 150, 43);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
}

.navbar-brand:hover {
    color: #f1f1f1;
}

.nav-link {
    color: white;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #0d6efd;
}

.note {
    text-align: center;
    padding: 40px 20px;
}

.note h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

.note p {
    margin-bottom: 20px;
}

.note .asec a {
    color: rgb(6, 5, 5);
    background-color: #ffa500;
    font-size: 1.2em;
    padding: 12px 25px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    padding: 40px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.infos {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 250px;
    max-width: 320px;
}

.icon {
    font-size: 50px;
    margin-bottom: 15px;
    color: #ffa500;
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/*footer {
    background-color: #424242;
  }*/

  footer p {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .info p {
    font-size: 1rem;
    margin-bottom: 6px;
  }